
body {
font: .81em/150% Georgia, "Times New Roman", Times, serif;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 0.81em;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 150%;
margin:0px;
padding:0px;
background-color: black;
color: #9c9c9c;
}

ul
{
	padding: 0px;
	margin: 0px;
}

h1{
	padding: 0px;
	margin: 0px;
}
	
h6{
	padding: 0px;
	margin: 0px;
}



#header{
	margin-bottom:2px;
	position: relative;
	height: auto;
	background-image: url(/sweetb.com/assests/images/body-bg.jpg);
}

#header .top-banner div
{
	display: inline-block;
}

.top-banner hgroup
{
	margin-top: 20px;
	margin-left: 20px;
}

.header-banner
{
	margin-right: 30px;
	margin-top: 10px;
}

#middle{
	display: block;
	height: 300px;
	background-image: url(/sweetb.com/assests/images/middle-bg.jpg);
}


.main-nav li{
	display:inline-block;
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}

.header-banner
{
	float:right;
	position: relative;
	display: inline-block;
}

.header-banner img
{
	width: 179;
	height: 107;
}

#footer
{
	padding-top: 50px;
	padding-bottom:50px;
	clear: both;
	text-align: center;
	margin-top:2px;
	background-image: url(/sweetb.com/assests/images/body-bg.jpg);
}
